<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="learnProjectBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="gr.alexc.idelearn.ui.builder.LearnProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="learnProjectNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="gr.alexc.idelearn.ui.builder.LearnProjectNature">
         </run>
      </runtime>
      <builder
            id="gr.alexc.idelearn.ui.learnProjectBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="gr.alexc.idelearn.learnProjectNature.category"
            name="%category.name">
      </category>
      <command
            categoryId="gr.alexc.idelearn.learnProjectNature.category"
            defaultHandler="gr.alexc.idelearn.ui.builder.AddRemoveLearnProjectNatureHandler"
            id="gr.alexc.idelearn.addRemoveLearnProjectNature"
            name="%command.name">
      </command>
      <category
            id="gr.alexc.idelearn.commands.category"
            name="%category.name.0">
      </category>
      <command
            categoryId="gr.alexc.idelearn.commands.category"
            name="%command.name.0"
            id="gr.alexc.idelearn.commands.exercise.openexercise">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               label="%command.label"
               commandId="gr.alexc.idelearn.addRemoveLearnProjectNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="gr.alexc.idelearn.learnProjectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               label="%command.label.0"
               commandId="gr.alexc.idelearn.addRemoveLearnProjectNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="gr.alexc.idelearn.learnProjectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="gr.alexc.idelearn.menus.sampleMenu"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="gr.alexc.idelearn.commands.exercise.openexercise"
                  id="gr.alexc.idelearn.menus.exercise.openexercise"
                  mnemonic="%command.mnemonic">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="gr.alexc.idelearn.toolbars.sampleToolbar">
            <command
                  id="gr.alexc.idelearn.toolbars.exercise.openexercise"
                  commandId="gr.alexc.idelearn.commands.exercise.openexercise"
                  icon="icons/sample.png"
                  tooltip="%command.tooltip">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gr.alexc.idelearn.ui.handlers.OpenExerciseHandler"
            commandId="gr.alexc.idelearn.commands.exercise.openexercise">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="gr.alexc.idelearn.commands.exercise.openexercise"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name.1"
            id="gr.alexc.idelearn">
      </category>
      <view
            id="idelearn.views.ExerciseTaskStatusView"
            name="%view.name"
            icon="icons/sample.png"
            class="gr.alexc.idelearn.ui.views.ExerciseTaskStatusView"
            category="gr.alexc.idelearn"
            inject="true">
      </view>
      <view
            category="gr.alexc.idelearn"
            class="gr.alexc.idelearn.ui.views.ExerciseOverviewView"
            icon="icons/sample.png"
            id="gr.alexc.idelearn.views.ExerciseOverviewView"
            inject="true"
            name="%view.name.0">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="idelearn.views.ExerciseTaskStatusView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="gr.alexc.idelearn.views.ExerciseOverviewView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="org.eclipse.core.internal.resources.ProjectPreferences"
            name="project">
      </scope>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="idelearn.importWizards.sampleCategory"
            name="%category.name.2">
      </category>
      <wizard
            category="idelearn.importWizards.sampleCategory"
            class="idelearn.importWizards.ImportWizard"
            icon="icons/sample.png"
            id="idelearn.importWizards.ImportWizard"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gr.alexc.idelearn.ui.perspectives.IDELearnPerspective"
            icon="icons/releng_gears.gif"
            id="gr.alexc.idelearn.ui.perspectives.IDELearnPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         id="idelearn"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="IDE Learn">
         <property
               name="appName"
               value="IDE Learn">
         </property>
      </product>
   </extension>

</plugin>
