<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="learnProjectBuilder"
         name="Learn Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="gr.alexc.idelearn.builder.LearnProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="learnProjectNature"
         name="Learn Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="gr.alexc.idelearn.builder.LearnProjectNature">
         </run>
      </runtime>
      <builder
            id="IDELearn.learnProjectBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="IDELearn.learnProjectNature.category"
            name="Learn Project Nature commands">
      </category>
      <command
            categoryId="IDELearn.learnProjectNature.category"
            defaultHandler="gr.alexc.idelearn.builder.AddRemoveLearnProjectNatureHandler"
            id="IDELearn.addRemoveLearnProjectNature"
            name="Add/RemoveLearn Project Nature">
      </command>
      <category
            id="IDELearn.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="IDELearn.commands.category"
            name="Open Exercise"
            id="IDELearn.commands.exercise.openexercise">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               label="Disable Sample builder"
               commandId="IDELearn.addRemoveLearnProjectNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="IDELearn.learnProjectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               label="Enable Sample builder"
               commandId="IDELearn.addRemoveLearnProjectNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="IDELearn.learnProjectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="IDELearn.menus.sampleMenu"
               label="IDE Learn"
               mnemonic="M">
            <command
                  commandId="IDELearn.commands.exercise.openexercise"
                  id="IDELearn.menus.exercise.openexercise"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="IDELearn.toolbars.sampleToolbar">
            <command
                  id="IDELearn.toolbars.exercise.openexercise"
                  commandId="IDELearn.commands.exercise.openexercise"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gr.alexc.idelearn.handlers.OpenExerciseHandler"
            commandId="IDELearn.commands.exercise.openexercise">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="IDELearn.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="IDE Learn"
            id="IDELearn">
      </category>
      <view
            id="idelearn.views.ExerciseTaskStatusView"
            name="Exercise Task Status View"
            icon="icons/sample.png"
            class="gr.alexc.idelearn.views.ExerciseTaskStatusView"
            category="IDELearn"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="idelearn.views.ExerciseTaskStatusView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="org.eclipse.core.internal.resources.ProjectPreferences"
            name="project">
      </scope>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="idelearn.importWizards.sampleCategory"
            name="Sample File Import">
      </category>
      <wizard
            category="idelearn.importWizards.sampleCategory"
            class="idelearn.importWizards.ImportWizard"
            icon="icons/sample.png"
            id="idelearn.importWizards.ImportWizard"
            name="Import File">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
